body {
  overflow: hidden;
  min-height: 100vh;
  background: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.ant-layout-sider-trigger {
  background: linear-gradient(92.88deg, #394c90 9.16%, #5643cc 43.89%, #4f388e 64.72%) !important;
  height: 36px !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}

.menu-sidebar .ant-menu-title-content {
  color: #ffffff !important;
  font-size: 16px !important;
  font-weight: 400  !important;
}

.menu-sidebar .ant-menu-item-icon {
  color: #ffffff !important;
  font-size: 16px !important;
  font-weight: 600  !important;
}

.menu-sidebar .ant-menu-item-group-title {
  color: #ffffff !important;
}

.cc{
  color: #45bdece6
}
.ant-layout-sider-children .ant-layout-sider-collapsed {
  width: 60px !important;
  min-width: none !important;
}

/* .anticon .anticon-weibo .ant-menu-item-icon {
  color: #232446 !important
} */